---
layout: null
---
body {
  font-size: 16px;
}

/* inline semantics */
.term i.icon {
  margin-left: 2px;
  font-weight: normal;
}

.fa-rotate-20 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.term {
  font-style: italic;
  font-weight: bold;
  color: #403f4c;
}

.tok {
  font-weight: bold;
  color: #911515 !important;
}

.buz {
  font-style: normal;
  text-decoration: underline;
  font-weight: bold;
  color: darkred;
}

.gui {
  font-weight: bold;
  color: #333;
  display: inline-block;
  padding: 0 5px;
  border: 3px solid {{ site.styles.color.theme }};
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 20px;
}

.cli,code.cmd {
  font-weight: normal;
  color: #fff !important;
  background-color: #333 !important;
  padding: 0 6px !important;
  border-radius: 0px !important;
}

.code {
  font-weight: bold !important;
  font-size: .8em !important;
  border-left: 4px solid {{ site.styles.color.theme }}80;
  background-color: #99999950 !important;
  padding: 2px 2px 0 0 !important;
  border-radius: 0px !important;
}

.cite {
  font-style: italic;
  font-weight: bold;
}

.path,.file,.dir {
  display: inline-block;
  font-weight: normal;
  background-color: #99999970 !important;
  padding: 0 6px !important;
}

.case {
  font-weight: bold;
  font-style: normal;
}

.case:after {
  font-family: "FontAwesome";
  font-style: normal;
  content: "\f152";
  display: inline-block;
  padding: 0 .2em 0 .5em;
  vertical-align: middle;
  font-weight: 900;
}

#preamble > .sectionbody > [class="paragraph"]:first-of-type p {
  font-size: 1em !important;
}

.navbar-brand {
  font-variant: small-caps;
}

.navbar-brand .site-title {
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: text-top;
}

.td-outer.landing {
  margin-top: 100px;
}

.listingblock pre.highlight {
  margin: 0;
}

.listingblock div.title,.exampleblock div.title {
  font-style: normal;
  font-weight: bold;
  color: #403f4c;
  margin-bottom: 0;
}

.listingblock code {
  font-weight: normal;
}

.exampleblock > .content {
  background-color: #e6f0f5;
}

.nav > li > a {
  font-size: 1em;
}

#sidebar-left {
  z-index: 0;
}

#sidebar-right {
  padding-top: 80px;
}

#subject-menu {
  margin-top: 70px;
}

#subject-menu ul {
  margin-left: 10px;
}

#subject-menu .nav-item a {
  font-size: 0.9em;
}

#subject-menu .nav-item a:hover {
  color: #fff;
}

#subject-menu .nav-item a.active {
  color: #fff;
  background-color: {{ site.styles.color.theme }};
}

#subject-menu li.nav-item.proud {
  background-color: #99999930
}

.toggle-switcher {
  margin-bottom: 10px;
}

.sticky-top.sticky-offset {
    top: 90px;
}

.tab-content {
    padding: 15px;
    background-color: #FAFAFA;
}

.tabLabel {
    font-weight: normal;
}

#tg-sb-content .tab-panel {
  margin-bottom: 20px;
  margin-top: 25px;
}

#tg-sb-content .tab-panel .nav-tabs {
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
}

#tg-sb-content .tab-panel .nav-tabs > li {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: 5px;
}

#tg-sb-content .tab-panel .nav-tabs > li > a {
  background-color: #ddd;
  color: #646466;
  border: none;
  border-bottom: 1px solid #ddd;
}

#tg-sb-content .tab-panel .nav-tabs > li > a:hover {
  background-color: #646466;
  color: white;
  border-bottom: 1px solid #646466;
}

#tg-sb-content .tab-panel .nav-tabs > li.active > a,
#tg-sb-content .tab-panel .nav-tabs > li.active > a:hover {
  color: #646466;
  background-color: white;
  font-weight: bold;
  border: 1px solid  #ddd;
  border-bottom-color: transparent;
}

#tg-sb-content .tab-panel .tab-content {
  padding: 10px;
  background-color: transparent;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -webkit-box-shadow: 2px 2px 4px #e0e0dc;
  box-shadow: 2px 2px 4px #e0e0dc;
}

.tab-content > .exampleblock .content {
  background-color: white;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}



/* ALGOLIA SEARCH */

.algolia-autocomplete {
  position: relative;
  display: inline-block;
  direction: ltr;
}

.aa-input-container {
  display: inline-block;
  position: relative;
}

.aa-input-search {
  padding: 6px 26px 6px 10px;
  border: 2px solid #DDDDDD;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 13px;
  box-sizing: border-box;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 3px;
}

.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
  display: none;
}

.aa-input-search:focus {
  outline: 0;
  border-color: #6d2077;
}

.aa-input-search.aa-hint {
  position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1; /* Firefox */
}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #999999;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999999;
  opacity: 1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999999;
  opacity: 1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
}
input::-ms-input-placeholder { /* Microsoft Edge */
  color: #999999;
}

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 20px;
  right: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #CCCCCC;
}

.aa-hint {
  color: #DDDDDD;
}

.aa-dropdown-menu {
  z-index: 100;
  display: none;
  background-color: white;
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 1px;
  margin-top: 2px;
  font-size: 13px;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0px;
  right: auto;
}

.aa-suggestion {
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aa-suggestion .suggestion-link {
  padding: 12px;
  background-color: transparent;
  width: 100%;
}

.aa-suggestion .suggestion-link:after {
  content: "";
}

.aa-suggestion .suggestion-link:hover,
.aa-cursor .suggestion-link {
  background-color: rgba(132, 195, 97, .25) !important;
}

.aa-suggestion .suggestion-link > span:first-child,
#show-more-link {
  color: #333;
  font-size: 14px;
  display: block;
}

#show-more-link {
  text-align: center;
  font-size: 16px;
}

.aa-suggestion .suggestion-link > span:last-child {
  color: #999999;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
}

.aa-suggestion .suggestion-link > span:last-child p {
  font-size: 13px;
}

.aa-suggestion .suggestion-link > span:first-child em,
.aa-suggestion .suggestion-link > span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: yellow;
  padding: 2px 0 2px 2px;
}

/* LANDING PAGE FEATURES */

main.landing {
  width: 100%;
}

main.landing h1,main.landing h2,main.landing h3 {
  text-align: center;
}

main.landing p {
  font-size: 1.5em;
}

main.landing .td-content {
  max-width: 100%;
}

main.landing .td-content > .paragraph > p {
  padding: 1.5em;
  width: 60%;
  margin: auto;
}

main.landing h1 {
  text-align: center;
}

main.landing .jumbotron-fluid {
  padding: 1em 6em 2em 6em;
  margin: 0;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  color: {{ site.styles.color.theme }};
}

main h2 {
  font-size: 1.8em;
}
main h3 {
  font-size: 1.4em;
}
main h4 {
  font-size: 1.15em;
}
main h5 {
  font-size: 1.1em;
}
/* Bootstrap elements */

label.btn.btn-secondary.btn-sm.active {
  background-color: {{ site.styles.color.theme }};
  border-color: #888;
}

/* API reference styles */

table.api-ref td.tableblock code {
  font-weight: normal;
}

table.api-ref td.tableblock strong code {
  font-weight: bold;
}

/* FEEDBACK FORM */
.feedback--title {
  border-top: 3px solid #dee2e6;
  padding-top: 1em;
}

/* FOOTER */

footer {
  background-color: #403f4c;
  padding: 30px 0 100px 0;
  flex-shrink: 0;
  position: sticky;
  clear: both;
  margin-top: 50px;
}

.footer-title, .footer-heading, footer li > a, .footer-strings {
  color: #fff;
}

.footer-title, .footer-heading {
  font-weight: bold;
}

.footer-heading {
  text-transform: uppercase;
}

footer .social-links {
  margin-top: 2em;
  padding-right: 3em;
  text-align: center;
}

.footer-strings {
  margin-top: 50px;
}
