---
layout: null
---
body {
  font-size: 16px;
}

a,a:hover {
  color: {{ site.data.theme.styles.color.theme-primary }};
}

/* inline semantics */
.term i.icon {
  margin-left: 2px;
  font-weight: normal;
}

.fa-rotate-15 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.term {
  font-style: italic;
  font-weight: bold;
  color: #403f4c;
}

.tok {
}

.out {
  display: inline-block;
  color: #fff !important;
  background-color: #444;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.buz {
  font-style: normal;
  text-decoration: underline;
  font-weight: bold;
  color: darkred;
}

.gui {
  font-weight: bold;
  color: #333;
  display: inline-block;
  padding: 0 5px;
  border: 3px solid {{ site.data.theme.styles.color.theme-primary }};
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 20px;
  white-space: nowrap;
}

.cli,code.cmd {
  font-weight: normal;
  color: #fff !important;
  background-color: #333 !important;
  padding: 0 6px !important;
  border-radius: 0px !important;
  white-space: nowrap;
}

.code {
  font-weight: bold !important;
  font-size: .8em !important;
  border-left: 4px solid {{ site.data.theme.styles.color.theme-primary }}80;
  background-color: #99999950 !important;
  padding: 2px 2px 0 0 !important;
  border-radius: 0px !important;
  white-space: nowrap;
}

.param {
  font-weight: bold !important;
  white-space: nowrap;
}

.cite {
  font-style: italic;
  font-weight: bold;
}

.path,.file,.dir {
  display: inline-block;
  font-weight: normal;
  background-color: #99999970 !important;
  padding: 0 6px !important;
  white-space: nowrap;
}

.case {
  font-weight: bold;
  font-style: normal;
}

.case:after {
  font-family: "FontAwesome";
  font-style: normal;
  content: "\f152";
  display: inline-block;
  padding: 0 .2em 0 .5em;
  vertical-align: middle;
  font-weight: 900;
}

.tip {
  font-weight: bold;
  font-style: normal;
}

span.tip:before,
em.tip:before,
strong.tip:before {
  font-family: "FontAwesome";
  font-style: normal;
  content: "\f0eb";
  display: inline-block;
  padding: 0 .2em 0 0;
  vertical-align: middle;
  font-weight: 900;
}

/* callouts */
pre .conum, i.conum {
  background-color: #666 !important;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 768px) {
    .dlist.grid dl {
        display:grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        grid-gap: .25rem 1rem;
    }

    .dlist.grid dt {
        grid-row: 1;
        font-style: normal;
        padding-right: 0;
        word-wrap: normal;
    }

    .dlist.grid dd {
        margin: 0;
        font-size: .8rem;
        font-size: calc(14/var(--rem-base)*1rem)
    }
}

.dlist.grid dt {

}

ul.list-unstyled {
  margin-left: 0;
}

#preamble > .sectionbody > [class="paragraph"]:first-of-type p {
  font-size: 1em !important;
}

.navbar-brand {
  font-variant: small-caps;
}

.navbar-brand .site-title {
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: text-top;
}

.td-outer.landing {
  margin-top: 100px;
}

.listingblock pre.highlight {
  margin: 0;
}

.listingblock div.title,.exampleblock div.title {
  font-style: normal;
  font-weight: bold;
  color: #403f4c;
  margin-bottom: 0;
}

.listingblock code {
  font-weight: normal;
}

.exampleblock > .content {
  background-color: #e6f0f5;
}

.nav > li > a {
  font-size: 1em;
}

#sidebar-left {
  z-index: 0;
}

#sidebar-right {
  padding-top: 80px;
}

#subject-menu {
  margin-top: 70px;
}

#subject-menu ul {
  margin-left: 10px;
}

#subject-menu .nav-item a {
  font-size: 0.9em;
}

#subject-menu .nav-item.tier-1 > a {
  font-weight: 900;
}

#subject-menu .nav-item a:hover {
  color: #fff;
}

#subject-menu .nav-item a.active {
  color: #fff;
  background-color: {{ site.data.theme.styles.color.theme-primary }};
}

#subject-menu li.nav-item.proud-ancestor {
  background-color: #99999940;
  border-left: 2px solid {{ site.data.theme.styles.color.theme-primary }};
}

#subject-menu li.nav-item.open.active.parent {
  background-color:  #99999960;
}

.toggle-switcher {
  margin-bottom: 10px;
}

.tabber-tabset .nav-tabs li.nav-item {
  margin-bottom: -6px;
}

.sticky-top.sticky-offset {
    top: 90px;
}

.tab-content {
    background-color: #FAFAFA;
}

.tab-content .listingblock > .content > pre {
  border-top: 0;
  border-color: #999;
  border-size: 2px;
}

.tabLabel {
    font-weight: normal;
}

.nav-tabs {
    border-bottom: 1px solid #999;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: #999 #999 #fff #999;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#tg-sb-content .tab-panel {
  margin-bottom: 20px;
  margin-top: 25px;
}

#tg-sb-content .tab-panel .nav-tabs {
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
}

#tg-sb-content .tab-panel .nav-tabs > li {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: 5px;
}

#tg-sb-content .tab-panel .nav-tabs > li > a {
  background-color: #ddd;
  color: #646466;
  border: none;
  border-bottom: 1px solid #ddd;
}

#tg-sb-content .tab-panel .nav-tabs > li > a:hover {
  background-color: #646466;
  color: white;
  border-bottom: 1px solid #646466;
}

#tg-sb-content .tab-panel .nav-tabs > li.active > a,
#tg-sb-content .tab-panel .nav-tabs > li.active > a:hover {
  color: #646466;
  background-color: white;
  font-weight: bold;
  border: 1px solid  #ddd;
  border-bottom-color: transparent;
}

#tg-sb-content .tab-panel .tab-content {
  padding: 10px;
  background-color: transparent;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -webkit-box-shadow: 2px 2px 4px #e0e0dc;
  box-shadow: 2px 2px 4px #e0e0dc;
}

.tab-content > .exampleblock .content {
  background-color: white;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}



/* ALGOLIA SEARCH */

.algolia-autocomplete {
  position: relative;
  display: inline-block;
  direction: ltr;
}

.aa-input-container {
  display: inline-block;
  position: relative;
}

.aa-input-search {
  padding: 6px 26px 6px 10px;
  border: 2px solid #DDDDDD;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 13px;
  box-sizing: border-box;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 3px;
}

.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
  display: none;
}

.aa-input-search:focus {
  outline: 0;
  border-color: #6d2077;
}

.aa-input-search.aa-hint {
  position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1; /* Firefox */
}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #999999;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999999;
  opacity: 1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999999;
  opacity: 1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
}
input::-ms-input-placeholder { /* Microsoft Edge */
  color: #999999;
}

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: relative;
  top: 1.1em;
  right: 1.7em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #CCCCCC;
}



.aa-hint {
  color: #DDDDDD;
}

.aa-dropdown-menu {
  z-index: 100;
  display: none;
  background-color: white;
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 1px;
  margin-top: 2px;
  font-size: 13px;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0px;
  right: auto;
}

.aa-suggestion {
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aa-suggestion .suggestion-link {
  padding: 12px;
  background-color: transparent;
  width: 100%;
}

.aa-suggestion .suggestion-link:after {
  content: "";
}

.aa-suggestion .suggestion-link:hover,
.aa-cursor .suggestion-link {
  background-color: rgba(132, 195, 97, .25) !important;
}

.aa-suggestion .suggestion-link > span:first-child,
#show-more-link {
  color: #333;
  font-size: 14px;
  display: block;
}

#show-more-link {
  text-align: center;
  font-size: 16px;
}

.aa-suggestion .suggestion-link > span:last-child {
  color: #999999;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
}

.aa-suggestion .suggestion-link > span:last-child p {
  font-size: 13px;
}

.aa-suggestion .suggestion-link > span:first-child em,
.aa-suggestion .suggestion-link > span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: yellow;
  padding: 2px 0 2px 2px;
}

/* LANDING PAGE FEATURES */

main.landing {
  width: 100%;
}

main.landing h1,main.landing h2,main.landing h3 {
  text-align: center;
}

main.landing p {
  font-size: 1.5em;
}

main.landing .td-content {
  max-width: 100%;
}

main.landing .td-content > .paragraph > p {
  padding: 1.5em;
  width: 60%;
  margin: auto;
}

main.landing h1 {
  text-align: center;
}

main.landing .jumbotron-fluid {
  padding: 1em 6em 2em 6em;
  margin: 0;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  color: {{ site.data.theme.styles.color.theme-primary }};
}

.td-content > h1 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 2.25em;
}

main h2 {
  font-size: 1.8em;
}
main h3 {
  font-size: 1.4em;
}
main h4 {
  font-size: 1.15em;
}
main h5 {
  font-size: 1.1em;
}

.topic-footer .jumbotron {
  margin-left: 5px;
  margin-right: 5px;
  color: #403f4c;
}

/* Bootstrap elements */

label.btn.btn-secondary.btn-sm.active {
  background-color: {{ site.data.theme.styles.color.theme-primary }};
  border-color: #888;
}

/* API reference styles */

.container.topic-reference {
  margin: 0;
  padding: 0;
}

.api-object-properties {
  margin-left: 20px;
}

/* FEEDBACK FORM */
.feedback--title {
  border-top: 3px solid #dee2e6;
  padding-top: 1em;
}

/* FOOTER */

footer {
  background-color: #403f4c;
  padding: 30px 0 100px 0;
  flex-shrink: 0;
  position: sticky;
  clear: both;
  margin-top: 50px;
}

.footer-title, .footer-heading, footer li > a, .footer-strings {
  color: #fff;
}

.footer-title, .footer-heading {
  font-weight: bold;
}

.footer-heading {
  text-transform: uppercase;
}

footer .social-links {
  margin-top: 2em;
  padding-right: 3em;
  text-align: center;
}

.footer-strings {
  margin-top: 50px;
}

/* ASCIIDOC ELEMENTS */

.admonitionblock table {
  max-width: 800px;
  background-color: #eeeeee;
}

.admonitionblock table td.icon {
  vertical-align: top;
  padding-top: 14px;
}

.admonitionblock table td.content {
  border-left: 0;
/* RELEASE NOTES FORMATTING */
}

h3 {
  margin-top: 0;
}

h3[id]:before {
  height: auto;
  margin-top: 0;
}

h5.change-summary {
  font-size: 1em;
}

.openblock.skip-link p {
  position: relative;
  top: 27px;
  left: 300px;
  margin: 0
}

/* RELEASE NOTE STYLES */

.release-note.card {
  padding: 0 1rem .5rem 1rem;
  margin-bottom: 1rem;
}

.release-note p {
  margin-bottom: 1em;
}

.release-note .hdlist td {
  padding-bottom: .3em;
}
.release-note .hdlist td p {
  margin-bottom: 0;
}

.release-note.card table {
  margin-bottom: 0;
}

.cl-tag {
  background: #99999940;
  padding: 5px;
  border-radius: 6px;
}
a.cli-tag:first-child {
  margin-left: 0
}
