<!-- feedback form {% comment %}
Generates feedback form.
{% endcomment %} -->
{% include hook.liquid template="feedback_html" spot="file" %}
{% unless hook_replace_tpl %}
{% if site.data.theme.forms.feedback-form %}
{% assign fform = site.data.theme.forms.feedback-form %}
<style>
  .feedback--answer {
    display: inline-block;
  }
  .feedback--response {
    display: none;
    margin-top: 1em;
  }
  .feedback--response__visible {
    display: block;
  }
</style>
<div class="jumbotron col-sm-4">
<i class="icon {{ fform.show.icon }} fa-4x float-right" style="margin-top: .5em;"></i>
<div class="h5">{{ fform.show.name }}</div>
<p class="feedback--question">{{ fform.show.text }}</p>
<form name="feedback" method="POST" data-netlify="true">
{% for opt in fform.send.opts %}
  <button type="button" class="btn btn-sm btn-{{opt.color | default:'secondary'}} feedback--answer feedback--answer-{{ opt.slug }}">{{ opt.text }}</button>
{% endfor %}
</form>
</div>
<div class="feedback--response feedback--response-{{ opt.slug }}"></div>
<script>
  {% for opt in fform.send.opts %}
  const {{opt.slug}}Button = document.querySelector('.feedback--answer-{{opt.slug}}');
  const {{opt.slug}}Response = document.querySelector('.feedback--response-{{opt.slug}}');
  {% endfor %}
  const disableButtons = () => {
    {% for opt in fform.send.opts %}
    {{opt.slug}}Button.disabled = true;
    {% endfor %}
  };
  const sendFeedback = (value) => {
    if (typeof ga !== 'function') return;
    const args = {
      command: 'send',
      hitType: 'event',
      category: 'Helpful',
      action: 'click',
      label: window.location.pathname,
      value: value
    };
    ga(args.command, args.hitType, args.category, args.action, args.label, args.value);
  };
  {% for opt in fform.send.opts %}
  {{opt.slug}}Button.addEventListener('click', () => {
    {{opt.slug}}Response.classList.add('feedback--response__visible');
    disableButtons();
    sendFeedback(1);
  });
  {% endfor %}
</script>
{% endif %}
{% endunless %}
