{% include hook.liquid template="footer_html" spot="file" %}
{% unless hook_replace_tpl %}
{% assign footer_config = site.data.theme.blocks.page-footer %}
{% assign footer_nav    = site.data.navs.footer %}
{% assign footer_str    = site.data.theme.strings.footer %}
{% comment %}var alt_links set by hook{% endcomment %}
{% include hook.liquid template="footer_html" spot="head" %}
<footer class="{{ footer_config.show.opts.class | default: 'row flex-xl-nowrap' }}"><!-- COMPANY REF/NAV -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
  {% if footer_config.show.logo %}
        <span class="company-logo">
          <img src="{{ footer_config.show.logo.source }}" class="logo" width="{{ footer_config.show.logo.width | default: '100px' }}">
        </span>
  {% endif %}
  {% if footer_str.title %}
        <div class="footer-title h4">{{ footer_str.title }}</div>
  {% endif %}
  {% if footer_str.tagline %}
        <div class="footer-title h5">{{ footer_str.tagline }}</div>
  {% endif %}
  {% if site.data.theme.blocks.social.show.spot == "footer" %}
        {% include social-links.html list-class="list-inline" %}
  {% endif %}
      </div>
{% for col in footer_nav.columns %}
  {% assign col_class = "" %}
  {% if forloop.index == 1 %}
    {% assign col_offset = 5 | minus: forloop.length %}
    {% assign col_class = "offset-" | append: col_offset %}
  {% endif %}
  <div class="col-md-2 {{ col_class }}">
    <ul class="list-unstyled">
      <li class="footer-heading h5">{{ col.text }}</li>
  {% for link in col.kids %}
    {% assign link_ref = alt_links | where: "app",link.text | first %}
      <li><a href="{{ link_ref.url | default: link.href | default: '#' }}" data-toggle="tooltip" title="{{ link_ref.use | default: link.text }}">{{ link.text }}</a></li>
  {% endfor %}
    </ul>
  </div>
{% endfor %}
  </div>
  {% if footer_str.copyright or footer_str.madewith %}
  <div class="row justify-content-md-center">
    <div class="footer-strings col-md-8 text-center">
    {% if footer_str.copyright %}
      <div class="copyright">
        <p>{{ footer_str.copyright | asciidocify }}</p>
      </div>
    {% endif %}
    {% if footer_str.madewith %}
      <div class="madewith">
        <p>{{ footer_str.madewith | asciidocify }}</p>
      </div>
    {% endif %}
    </div>
  </div>
  {% endif %}
  {% include hook.liquid template="footer_html" spot="tail" %}
</footer>
{% endunless %}
