{% include hook.liquid template="nav-site_html" spot="file" %}
{% unless hook_replace_tpl %}
<!-- nav menu {% comment %}
Generates header navigation menu.
{% endcomment %} -->
<ul class="navbar-nav mt-2 mt-lg-0">
{% for link in site.data.navs.header.links %}
  {% assign link_match = link.href | append: "/" | replace: "//","/" %}
  {% assign page_path = page.url | truncate: link_match.size, "" | append: "/" | replace: "//","/" %}
  {% if link_match == page_path %}
    {% assign active = "active" %}
  {% endif %}
  {% if link.kids %}
  <li class="nav-item mr-4 mb-2 mb-lg-0 dropdown">
    <a class="nav-link dropdown-toggle {{active}}" href="{{ link.href | default: '#' }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ link.text }}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    {% for kid in link.kids %}
      <a class="dropdown-item" href="{{ kid.href }}">
        {{ kid.text }}
      </a>
    {% endfor %}
    </div>
  </li>
  {% else %}
  <li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link {{active}}" href="{{ link.href }}">{{ link.text}}</a>
  </li>
  {% endif %}
  {% assign active = "" %}
{% endfor %}
</ul>
{% endunless %}
