{% include hook.liquid template="nav-subjct-menu_html" spot="file" %}
{% unless hook_replace_tpl %}
<!-- {% comment %}
Generates #sidebar-left navigation for subject/product
{% endcomment %} NAVGOCO menu component -->
<ul id="subject-menu" class="nav flex-column">
  {% for item in include.manifest['menu'] %}
		{% include path-active.liquid href=item.href  kids=item.kids %}
    <li class="nav-item open card tier-1 {{parent}} {{active}}">
    {% if item.href %}<a href="{{ item.href }}" class="{{active}} {{open}}">{% endif %}
    {{ item.text }}
    {% if item.href %}</a>{% endif %}
		<!-- tag::sample-nesting[] -->
    {% if item.kids %}
      <ul>
      {% for topic in item.kids %}
			  {% include path-active.liquid href=topic.href kids=topic.kids %}
        <li class="nav-item tier-2 {{open}} {{parent}} {{active}}">
          <a href="{{ topic.href }}" class="nav-link {{active}} {{open}}">
						{{ topic.text }}
					</a>
          {% if topic.kids %}
          <ul>
            {% for subtopic in topic.kids %}
						  {% include path-active.liquid href=subtopic.href kids=subtopic.kids %}
            <li class="nav-item tier-3 {{open}} {{parent}} {{active}}">
              <a href="{{ subtopic.href }}" class="nav-link {{active}}">{{ subtopic.text }}</a>
              {% if subtopic.kids %}
                <ul>
                  {% for sst in subtopic.kids %}
                    {% include path-active.liquid href=sst.href kids=sst.kids %}
                  <li class="nav-item tier-4 {{open}} {{parent}} {{active}}">
                    <a href="{{ sst.href }}" class="nav-link {{active}}">{{ sst.text }}</a>
                  </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
		<!-- end::sample-nesting[] -->
    </li>
    {% assign active = "" %}
    {% assign open = "" %}
  {% endfor %}
</ul>
{% endunless %}
