{% include hook.liquid template="see-also_html" spot="file" %}
{% unless hook_replace_tpl %}
{% assign see-also_title = site.data.strings.see-also.title | default: "Related Topics" %}
{% assign related = "" | split: "," %}
{% for tag in page.tags %}
  {% assign related = related | concat: site.pages | where_exp: "p","p.tags contains tag" | where_exp: "p","p.url != page.url" %}
{% endfor %}
{% include hook.liquid template="see-also_html" spot="mid" %}
{% if related.size > 0 %}
<div class="jumbotron col-4-sm">
  <i class="icon fa fa-caret-square-o-down fa-4x float-right" style="margin-top: .5em;"></i>
  <div class="h5">{{ see-also_title }}</div>
  <ul class="card-text mb-auto list-unstyled">
  {% for topic in related %}
    <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endunless %}
