{% comment %}
Assembles version-handler features in various spot-specific clusters
{% endcomment %}
{% include hook.liquid template="versioning-controls_html" spot="file" %}
{% unless hook_replace_tpl %}
{% assign features = site.features.actions.versioning %}
{% for feat in features %}
  {% assign opts = "" | split: "," %}
  {% if feat[1]['spot'] == include.spot %}
    {% assign ctrl_name = feat[0] %}
    {% assign ctrl = feat[1] %}
    {% assign verb = ctrl['verb'] %}
    {% assign pick = ctrl['swap']['pick'] %}
    {% assign dict = ctrl['swap']['dict'] %}
    {% assign form = ctrl['form'] %}
    {% if ctrl['swap']['data'] %}
      {% assign data_str = ctrl['swap']['data'] %}
      {% include string-to-object.liquid string=data_str %}
      {% assign opts = opts | concat: data_obj %}
    {% endif %}
    {% if ctrl['swap']['opts'] %}
      {% assign opts = opts | concat: ctrl['swap']['opts']  %}
    {% endif %}
    {% assign slug = ctrl['swap']['slug'] %}
    {% assign func = ctrl['func'] %}
    {% if verb == "toggle" %}
      {% assign form = "buttons" %}
    {% endif %}
    {% assign form_id = ctrl_name %}
    {% include version-handler.html
      id=form_id
      verb=verb
      form=form
      opts=opts
      slug=slug
      dict=dict
      pick=pick
      func=func %}
  {% endif %}
{% endfor %}
{% endunless %}
