---
footer: true
scripts:
  - jquery
  - jquery-cookie
  - bootstrap
  - popper
  - anchors
  - navgoco
  - bootstrap-toc
  - highlight-js
  - algolia-instantsearch
  - autocomplete
  - algoliasearch-3
  - asciidoctor
  - asciidocsy
---
<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Copyright 2019-2021 Vanessa Sochat-->
{% include hook.liquid template="default_html" spot="pre_head" %}
{% include head.html %}
{% include hook.liquid template="default_html" spot="post_head" %}
{% if site.services.analytics.google %}
  {% include google-analytics.html %}
{% endif %}
<body data-spy="scroll" data-target="#toc-side">
  {% include hook.liquid template="default_html" spot="pre_header" %}
  {% include header.html %}
  {% include hook.liquid template="default_html" spot="post_header" %}
  <div class="container-fluid td-outer {{ page.layout }}">
    <div class="td-main">
      <div class="row flex-xl-nowrap">
{% if layout.sidebar-left %}
        <div id="sidebar-left" class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none"><!-- SUBJECT/PRODUCT REF/NAV -->
           <div class="sticky-top sticky-offset">
  {% if site.features.actions.search-subject.show.spot == "#sidebar-left" %}
             {% include search-form.html search="search-subject" %}
  {% endif %}
  {% if site.features.actions.versioning.switchers.revision.show.spot == "#nav-subject" %}
             {% include versioner.html %}
  {% endif %}
             {% include nav-subject-menu.html manifest=site.data.manifest %}
          </div>
        </div><!-- /#sidebar-left -->
{% endif %}
        <main class="{{ layout.main-class | default: 'col-12 col-md-9 col-xl-8 pl-md-5' }}" role="main">
          <div class="td-content">
            {{ content }}
          </div>
{% if page.layout == "topic" %}
          <div class="row flex topic-footer">
            {% include see-also.html %}
  {% if site.features.actions.feedback-form.show %}
            {% include feedback.html %}
  {% endif %}
          </div>
{% endif %}
        </main>
{% if layout.sidebar-right %}
        <div id="sidebar-right" class="d-none d-xl-block col-xl-2 td-toc d-print-none"><!-- TOPIC/PAGE REF/NAV -->
          <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
            {% include page-links.html %}
          </div>
  {% if page.togglers %}
          <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
            {% include togglers.html spot="#sidebar-right" %}
          </div>
  {% endif %}
  {% if layout.toc == "sidebar" and site.features.navigation.toc.show.spot == "#sidebar-right" %}
          <nav id="toc-side" data-spy="affix" data-toggle="toc"></nav>
  {% endif %}
  {% if page.style-changers %}
    {% if site.features.actions.page-skin %}
          {% include style-changer.html kind="skin" %}
    {% endif %}
    {% if site.features.actions.syntax-style %}
          {% include style-changer.html kind="syntax" %}
    {% endif %}
  {% endif %}
  {% if site.semantics.role.term.show.spot == "#sidebar-right" %}
          <nav id="terms-listing"></nav>
  {% endif %}
        </div><!-- /#sidebar-right -->
{% endif %}
      </div><!-- /.row.flex-xl-nowrap -->
    </div><!-- /.td-main -->
{% if layout.footer %}
    {% include footer.html %}
{% endif %}
  </div><!-- /.container-fluid.td-outer -->
  {% include tail.html %}
</body>
</html>
