---
footer: true
scripts:
  - jquery
  - jquery-cookie
  - bootstrap
  - popper
  - anchors
  - navgoco
  - bootstrap-toc
  - highlight-js
  - algolia-instantsearch
  - autocomplete
  - algoliasearch-3
  - asciidoctor
  - asciidocsy-tabber
  - asciidocsy-toggler
  - asciidocsy-semantics
  - asciidocsy-tail
---
<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Copyright 2019-2021 Vanessa Sochat-->
{% include hook.liquid template="default_html" spot="pre_head" %}
{% include head.html %}
{% include hook.liquid template="default_html" spot="post_head" %}
{% if site.services.analytics.google %}
  {% include google-analytics.html %}
{% endif %}
<body data-spy="scroll" data-target="#toc-side">
  {% include hook.liquid template="default_html" spot="pre_header" %}
  {% include header.html %}
  {% include hook.liquid template="default_html" spot="post_header" %}
  <div class="container-fluid td-outer {{ page.layout }}">
    <div class="td-main">
      <div class="row flex-xl-nowrap">
{% if layout.sidebar-left %}
        <div id="sidebar-left" class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none"><!-- SUBJECT/PRODUCT REF/NAV -->
          <div class="sticky-top sticky-offset">
            <div class="sidebar-top">
            {% include versioning-controls.html
              spot="#sidebar-left .sidebar-top" %}
  {% if site.data.theme.search.subject.show.spot == "#sidebar-left" %}
             {% include search-form.html search="subject" %}
  {% endif %}
            </div>
            <div class="sidebar-mid">
            {% include versioning-controls.html
              spot="#sidebar-left .sidebar-mid" %}
              {% include nav-subject-menu.html manifest=site.data.manifest %}
            </div>
            <div class="sidebar-end">
              {% include versioning-controls.html
                spot="#sidebar-left .sidebar-end" %}
            </div>
          </div><!-- /.sticky-top -->
        </div><!-- /#sidebar-left -->
{% endif %}
        <main id="main" class="{{ layout.main-class | default: 'col-12 col-md-9 col-xl-8 pl-md-5' }}" role="main">
          <div class="td-content">
            {{ content }}
          </div>
        </main>
{% if layout.sidebar-right %}
        <div id="sidebar-right" class="d-none d-xl-block col-xl-2 td-toc d-print-none"><!-- TOPIC/PAGE REF/NAV -->
          <div class=".sidebar-top">
            {% include versioning-controls.html spot="#sidebar-right .sidebar-top" %}
            <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
              {% include page-links.html %}
            </div>
          </div>
          <div class=".sidebar-mid">
            {% include versioning-controls.html spot="#sidebar-right .sidebar-mid" %}
  {% if layout.toc == "sidebar" and site.data.theme.navigation.toc.show.spot == "#sidebar-right" %}
            <nav id="toc-side" data-spy="affix" data-toggle="toc"></nav>
  {% endif %}
          </div>
          <div class="sidebar-end">
            {% include versioning-controls.html spot="#sidebar-right .sidebar-end" %}
    {% if site.data.theme.semantics.role.term.show.spot == "#sidebar-right" %}
          <nav id="terms-listing"></nav>
    {% endif %}
        </div><!-- /#sidebar-right -->
{% endif %}
      </div><!-- /.row.flex-xl-nowrap -->
    </div><!-- /.td-main -->
{% if layout.footer %}
    {% include footer.html %}
{% endif %}
  </div><!-- /.container-fluid.td-outer -->
  {% include tail.html %}
</body>
</html>
